@page "/AddTasks"
@inject IJSRuntime JS

<PageTitle>Add Tasks</PageTitle>

	<h3>Chore Form</h3>

	<h3>Please enter a chore below.</h3>

	<body>
		<EditForm Model ="@newuserChore" OnValidSubmit="SubmitForm">
			<label for="addtask">Add a Task</label>
			<InputText @bind-Value="@newuserChore.Name"/>
			<br><br>


			<label for="time spent">Enter the time spent doing the chore</label>
			<br><br>
		 <InputSelect @bind-Value = "@newuserChore.TimeSpent">
			 <option value = "5 minutes">5 minutes</option>
			 <option value= "10 minutes">10 minutes</option>
			 <option value= "15 minutes">15 minutes</option>
			<option value="20 minutes">20 minutes</option>
			<option value="30 minutes">30 minutes</option>
			<option value="45 minutes">45 minutes</option>
			<option value="60 minutes">60 minutes</option>
		 </InputSelect>

			<br><br>
			<br><br>

			<label for="supplies">Enter any supplies needed for the chore</label>
			<br><br>
			<InputTextArea @bind-Value = "@newuserChore.Supply" rows="5" cols="50">

	</InputTextArea>
			<br> <br>
			<br><br>

			<h3>Please select your residence type below.</h3>
			<br><br>
		<InputSelect @bind-Value = "@newuserChore.ResidenceType">
			<option value="Apartment">Apartment</option>
			<option value="House">House</option>
		</InputSelect>
		<br> <br>
		<br><br>

			<input type="submit" value="Submit">
		</EditForm>

</body>


@code{

	public UserChores newuserChore = new UserChores();
	private async Task SubmitForm()
	{
		
	}

		}





